//- Copyright (c) 2015 Garry T. Williams

extends layout

block content
  h3 #{title}

  style(type="text/css").
    span.explain { width: 300px; margin-bottom: 1em; display: block; }
    input { margin-bottom: 1em; display: block; }
    .missing {
      border-style: solid;
      border-color: red;
      border-width: 2px;
    }
  script(type="text/javascript").
    $(document).ready(function () {
      $('input[type="submit"]').click(function (e) {
        /* check for missing data */
        var missing;
        $('input.required').each(function (i) {
          if ($(this).val() == "") {
            $(this).addClass('missing');
            missing = true;
          }
        });
        if (missing) {
          alert("Required input missing.");
          return false;
        }

        /* validate that both password values match */
        if ($('input[name="password"]').val() !=
            $('input[name="duppassword"]').val())
        {
          alert("password values do not match");
          return false;
        }
      });
    });
  div
    form(method="post" action="/create-login")
      input(type="hidden" name="id" value="#{id}")
      input(type="hidden" name="e_mail" value="#{e_mail}")
      span.caption.
        E-mail address: #{e_mail}
      br
      span.caption.
        First name:
      input.focus.required(name="first_name")
      span.caption.
        Last name:
      input.required(name="last_name")
      span.explain.
        Enter your password twice (so that we know you didn't mis-type
        it) below to complete your sign-up.  In the future, you will
        use this E-mail address as your login ID and the password you
        give us now as your password.
      span.caption.
        Password:
      input.required(type="password" name="password")
      span.caption.
        Password again to verify:
      input.required(type="password" name="duppassword")
      input(type="submit" value="Submit")

//- vim: sts=2 sw=2 ts=8 et ai syn=haml

