//- Copyright (c) 2015 Garry T. Williams

doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='description', content='#{title}')
    link(rel='icon' href='/images/favicon.gif' type='image/gif')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.11.2.min.js', type='text/javascript')
    script(src='/javascripts/bootstrap.min.js', type='text/javascript')
    block head
  body
    block header
    nav.navbar.navbar-default(role="navagation")
      div.navbar-header
        button.navbar-toggle.collapsed(
          type="button"
          data-toggle="collapse"
          data-target="#bs-navbar-collapse-1"
        ) Show/Hide
      div.collapse.navbar-collapse(id="bs-navbar-collapse-1")
        ul.nav.navbar-nav
          li.active
            a(href="/") Home
          li
            a(href="#") DBAA Game Results
          li
            a(href="#") Club Web Sites
          li
            a(href="/newsletters") Newsletters
    block content


//- vim: sts=2 sw=2 ts=8 et ai syn=haml
