//- Copyright (c) 2015 Garry T. Williams

extends layout

block content
  h3 #{title}

  style(type="text/css").
    .missing {
      border-style: solid;
      border-color: red;
      border-width: 2px;
    }
  script(type="text/javascript").
    $(document).ready(function () {
      $('input[type="submit"]').click(function (e) {
        /* check for missing data */
        var missing;
        $('input.required').each(function (i) {
          if ($(this).val() == "") {
            $(this).addClass('missing');
            missing = true;
          }
        });
        if (missing) {
          alert("Required input missing.");
          return false;
        }
      });
    });
  div
    form(method="post" action="/myaccount")
      input(type="hidden" name="id" value="#{id}")
      input(type="hidden" name="e_mail" value="#{login}")
      span.caption.
        First name:
      input.required(name="fn" value="#{fn}")
      span.caption.
        Last name:
      input.required(name="ln" value="#{ln}")
      input(type="submit" value="Submit")

//- vim: sts=2 sw=2 ts=8 et ai syn=haml

